<h1>Coaching#answer</h1>
<p><%= @question_asked %></p>
<% if @question_asked.downcase == "i am going to work right now!" %>
<p><% "" %></p>
<% elsif @question_asked.end_with?("?") %>
   <p>Silly question, get dressed and go to work!</p>
<% else %>
   <p>I don't care, get dressed and go to work!</p>
<% end %>

<%= link_to "ask another question", ask_path %>

