<h1>Talk to your coach</h1>
<form action="/answer" method="get">
  <label for="question">Ask your question here</label>
  <input type="text" id="question" name="question_asked" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
